In [2]:
'Hello %s'%('Mike')

'Hello Mike'

In [4]:
'Hello {0}'.format('Mike')

'Hello Mike'

In [6]:
'Hello {0} {1}'.format('Mike', 'Lewis')

'Hello Mike Lewis'

In [12]:
first_names = ['Mike', 'Jon']
last_name = ['Lewis', 'Brenner']

name_dict = {'Mike' : 'Lewis', 'Jon' : 'Brenner'}

for first_name, last_name in zip(first_names, last_name):
    print 'Hello {first_name} {last_name}'.format(first_name=first_name, last_name=last_name)
# 'Hello {first_name} {last_name}'.format(last_name=last_name, first_name=first_name)

Hello Mike Lewis
Hello Jon Brenner

In [1]:
for i in range(25):
    i = i+1
    print("WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < {0} then {1}".format(i*30, i))

WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 30 then 1
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 60 then 2
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 90 then 3
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 120 then 4
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 150 then 5
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 180 then 6
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 210 then 7
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 240 then 8
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 270 then 9
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 300 then 10
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 330 then 11
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 360 then 12
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 390 then 13
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 420 then 14
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 450 then 15
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 480 then 16
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 510 then 17
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 540 then 18
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 570 then 19
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 600 then 20
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 630 then 21
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 660 then 22
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 690 then 23
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 720 then 24
WHEN DATEDIFF(day, receipts.created_at, CURRENT_DATE) < 750 then 25

In [11]:
# Not used
for i in range(25):
    i = i+1
    print("WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < {0} then '{1} to {0} days in past'".format(i*30, (i-2)*30))

WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 30 then '-30 to 30 days in past'
WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 60 then '0 to 60 days in past'
WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 90 then '30 to 90 days in past'
WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 120 then '60 to 120 days in past'
WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 150 then '90 to 150 days in past'
WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 180 then '120 to 180 days in past'
WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 210 then '150 to 210 days in past'
WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 240 then '180 to 240 days in past'
WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 270 then '210 to 270 days in past'
WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 300 then '240 to 300 days in past'
WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 330 then '270 to 330 days in past'
WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 360 then '300 to 360 days in past'
WHEN DATEDIFF(day, receipts.updated_at, CURRENT_DATE) < 390 then '330 to 390 days in past'

In [13]:
from ds_util.redshift import run_redshift

In [14]:
sql = """
SELECT 
    *
FROM 
    receipt_items
    
LIMIT
    100
"""

some_table = run_redshift(sql, return_data=True)

In [15]:
some_table.head()

,id,product_text,product_number,price,discount,quantity,validation_type,receipt_id,retailer_product_id,created_at,updated_at,raw_product_number,matched_with_offer_at,matched_customer_offer_id,ext_price,status
0,4027,GREEN GIANT,211140341,4.98,None,None,ocr-old-exact,780,11346623.0,2012-09-22 01:44:01,2015-12-24 06:00:06,,None,None,None,
1,4026,GARLIC,211054608,0.37,None,None,ocr-old-exact,780,5747415.0,2012-09-22 01:44:01,2015-06-03 05:00:03,None,None,None,None,None
2,4028,GREEN GIANT,211150001,0.99,None,None,ocr,780,NaN,2012-09-22 01:44:01,2012-09-22 01:44:01,None,None,None,None,None
3,4029,MP KETCHUP,212040003,2.44,None,None,ocr-old-exact,780,2797701.0,2012-09-22 01:44:01,2015-03-04 06:00:02,None,None,None,None,None
4,4030,A1 EN,212040082,3.19,None,None,ocr,780,NaN,2012-09-22 01:44:01,2012-09-22 01:44:01,None,None,None,None,None